/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* CSS */

body {
  background-color: #111;
}

.nav {
  height: 95%;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
}

.aspects-nav {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
